<nav
    class="sticky top-0 z-50 mt-6 flex justify-center gap-6 text-xs tracking-widest uppercase text-[#cfcfcf]"
>
    <a href="#about" class="hover:text-[#d16c8a]">About me</a>
    <a href="#portfolio" class="hover:text-[#d16c8a]">Portfolio</a>
    <a href="#thoughts" class="hover:text-[#d16c8a]">Others</a>
    <a href="#contact" class="text-[#d16c8a] hover:underline">Contact</a>
</nav>
